*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, #1e1e20, #061522df);
    height: 120vh;
}

/* .card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #283058, #8593);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 23px;
    padding: 40px 35px;
    text-align: center;
} */

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #0b0c36, rgba(85, 125, 153, 0.2));
    color: #fff;
    margin: 100px auto 0;
    border: #ffffff1c 1px solid;
    border-radius: 23px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(1, 22, 18, 0.3), 0 15px 60px rgba(1, 13, 78, 0.3), 0 9px 46px rgba(137, 7, 57, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 40px rgba(5, 87, 69, 0.19), 0 20px 80px rgba(1, 13, 78, 0.182), 0 12px 60px rgba(137, 7, 18, 0.182);
}

.head{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #cfe0f8;
}

/* .search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 20px;
    border-radius: 30px;
    background-color: #ebfffc;
    box-shadow: 0 4px 40px rgba(1, 0, 6, 0.801);
}

.search input{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.search button img{
    width: 25px;
    cursor: pointer;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    color: #e0f3fa;
}

.weather h2{
    font-size: 45px;
    font-weight: 500;
    margin-top: -10px;
    color: #e0f3fa;
}

.details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
    padding: 0 20px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
    
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

.footer{
    margin-top: 20px;
    font-size: 15px;
    display: block;
    color: #e0f3fa;
}

.footer a{
    color: #0837c3;
    text-decoration: none;
    font-weight: 600;
}